@font-face {
    font-family: 'NeoDunggeunmo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.alert-box1 {
    text-align: center;
      font-size: 25px;
      font-family: 'NeoDunggeunmo';
      margin-top: 102px;
      height: 30px;
      margin-right: 320px;
      float: right;
      width: 1000px;
      background-color: rgb(255, 230, 0);
      border: none;
      padding: 20px;
  
      color: black;
      border-radius: 5px;
      display: block ;
    } 
  
    .alert-box2 {
      text-align: center;
      font-size: 25px;
      font-family: 'NeoDunggeunmo';
      margin-top: 102px;
      height: 30px;
      margin-right: 320px;
      float: right;
      width: 1000px;
      background-color: rgb(255, 230, 0);
      border: none;
      padding: 20px;
  
      color: black;
      border-radius: 5px;
      display: none ;
      } 
/* 로고크기 조절 */
#logo{

    margin-top: 30px;
    width: 166px;
    height: 100px;
    
}

/* 캔버스 크기, 색 조절 */


#scoreCanvas{
   float: left;
    margin-top: 200px;
    margin-left: 80px;
    width: 300px;
    height: 300px;

    background-image: url('../img/score_back.png');
    background-repeat: no-repeat;
    background-size: cover;


}
#gameCanvas{
    float: left;
    margin-left: 10px;
    width: 1100px;
    height: 800px;
    
    background-color: white;
    border: 1px solid black;
    border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;
}
#gaugeCanvas{
    float: left;
    margin-left: 100px;
    width: 150px;
    height: 800px;
    background-color: white;
    border: 1px solid black;
    
    background-image: url('../img/sea/map.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;
}

/* a태그 하이퍼링크 밑줄 없애기 */
a { text-decoration:none }

/* 배경 */
body{
    background-image: url('../img/info_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}

#score{
    color:white;
    font-weight: bold;
    font-size: 45px;
    
}

#temp_input{
    visibility: hidden;
}
