
body{
    background-image: url('../img/info_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    }
    #mlogo{
        float: left;
        margin-top: 20px;
        width: 166px;
        height: 100px;
        margin-left: 50px;
    
    }
#logo{
margin-top: 100px;
margin-left: 520px;
width: 450px;
height: 200px;
    }

.map1{
margin-top: 30px;
margin-left: 300px;
    }

.map2{
margin-top: 50px;
margin-left: 550px;
    }

.map{
width: 300px;
box-shadow: 20px 20px black;
border-radius: 10px;
margin-left: 100px;
    }


           
        