
/* 로고크기 조절 */
#logo{
    float: left;
    margin-top: 20px;
    width: 166px;
    height: 100px;
    margin-left: 50px;
}



#info_logo{
margin-top: 100px;
    margin-left: 550px;
    width: 500px;
    height: 150px;
}

/* a태그 하이퍼링크 밑줄 없애기 */
a { text-decoration:none }

#boxBackground{
    background-image:url('../img/게임설명.png'); ;
    margin-top: 50px;
    margin-left: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1500px;
    height: 700px;

  
}



/* 배경 */
body{
    background-image: url('../img/info_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    }
    @font-face {
        font-family: 'NeoDunggeunmo';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    
